
$xs-padding: .75rem;
$s-padding: 1.25rem;
$m-padding: 2.5rem;
$l-padding: 3.75rem;
$xl-padding: 5rem;

$color-kantilever: #aab1e4;

$color-black: black;
$color-white: white;
$color-green: #40bf69;
$color-grey: grey;
$color-light-grey: #f3f3f3;