<ng-container class="container">

  <div id="banner" class="mat-sidenav-container" [@onSideNavContainerChange]="sideNavState"></div>

  <mat-toolbar id="shop-header" color="primary" class="toolbar-container">
    <a routerLink="/">
      <h1 id="site-title">Kantilever Webshop</h1>
    </a>
    <span class="toolbar-spacer"></span>
    <div class="right-button-container">
      <app-login-button></app-login-button>
      <app-register-button></app-register-button>
    </div>
  </mat-toolbar>

  <app-sidebar (sideNavStateChanged)="onSideNavStateChanged($event)" [sideNavState]="sideNavState"></app-sidebar>

  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav-content [@onSideNavContainerChange]="sideNavState">
      <router-outlet *ngIf="!loading"></router-outlet>
      <div class="spinner-container">
        <mat-spinner *ngIf="loading"></mat-spinner>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>
