@import "css/settings.scss";
@import "css/mixins.scss";

:host {
    padding: 0 $m-padding;

    &:after {
        @include clearfix();
    }
}

.margin-xs {
  margin: $xs-padding 0;
}

.amount-container {
  @include flex();
  @include flex-justify-end();

  user-select: none;

  .btn-quantity {
      font-size: 1.4rem;
      font-weight: 700;

      padding: 0 .35rem;
      margin: 0 $xs-padding;

      &:first-of-type {
          margin-left: .15rem;
      }
  }
}

